################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/en-ai/.vs/en-ai.slnx
/en-ai/en-ai/obj
/en-ai/.vs/en-ai/CopilotIndices/18.8.1093.27292
/en-ai/en-ai/bin/Debug/net10.0
